<!DOCTYPE html>
<html>
	<head>
		<!-- bootstrap requirements -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- bootstrap reference -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- angularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/services.js"></script>
		<script src="js/weather-service.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/weather-icons.min.css">
		<title>Simply Weather</title>
	</head>
	<body ng-app="weather" ng-controller="weatherController" ng-class="theme" ng-init="getWeather();" ngx-sticky-footer>
		<div class="weather">
			<form ng-submit="getWeather();">
				<div class="input-group">
				    <input id="search-input" type="text" class="form-control" placeholder="Search states, cities, zipcodes" ng-model="search">
				    <div class="input-group-btn">
				      	<button id="search-btn" class="btn btn-default">
				        	<i class="glyphicon glyphicon-search"></i>
				      	</button>
				      	<input id="menu-btn" class="btn btn-default" type="button" value="Switch Theme" ng-click="switchTheme();"/>
				    </div>
				</div>
			</form>
			<div id="search-status" ng-show="!weather && searchStatus">
				<i class="wi wi-raindrops"></i>
				<p ng-bind="searchStatus"></p>
			</div>
			<div ng-show="weather" class="container-fluid content">
				<div id="w-condition" class="row">
					<div id="w-overview" class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 center">
						<div>
							<div id ="w-location" class="primary-color">
								<div>
									<p>{{weather.location.city + ', ' + weather.location.region}}</p>
									<p ng-bind="weather.location.country"></p>
								</div>
								<span id="local-location-btn" class="btn" ng-click="getLocalWeather()">&#8889;</span>
							</div>
							<i id="w-condition-icon" ng-class="icon.getConditionIcon(weather.condition.code)"></i>
							<p ng-bind="weather.condition.text"></p>
							<p id="w-overview-temp">{{weather.condition.temp}}&deg;{{getTempUnit()}}</p>
							<div>
								<span class="t-high">{{weather.forecast[0].high}}&deg;</span>
								<span class="t-low">{{weather.forecast[0].low}}&deg;</span>
							</div>
							<p class="text-note" ng-bind="'last updated on ' + (date.parse(weather.condition.date) | date:'h:mma')"></p>
						</div>
					</div>
					<div id="w-details" class="col-xs-12 col-sm-5 col-md-5">
						<h4>Details</h4>
						<div class="row">
							<div class="col-xs-7">
								<i ng-class="icon.getFeltTemp()"></i>
								felt temperature
							</div>
							<span class="col-xs-5">{{weather.wind.chill}}&deg;</span>
						</div>
						<div class="row">
							<div class="col-xs-7">	
								<i ng-class="icon.getHumidity()"></i>
								humidity
							</div>
							<span class="col-xs-5">{{weather.atmosphere.humidity + '%'}}</span>
						</div>
						<div class="row">
							<div class="col-xs-7">
								<i ng-class="icon.getVisibility()"></i>
								visibility
							</div>
							<span class="col-xs-5">{{weather.atmosphere.visibility + ' ' + getDistanceUnit()}}</span>
						</div>
						<div class="row">
							<div class="col-xs-7">
								<i ng-class="icon.getBarometer()"></i>
								pressure
							</div>
							<span class="col-xs-5">{{weather.atmosphere.pressure / 100 + ' ' + getPressureUnit() + ' ' + getBarometricPressureState() + '  '}}<span style="transform:rotate({{getPressureIconRotation()}}deg);" class="text-note">&#8673;</span></span>
						</div>
						<div class="row">
							<div class="col-xs-7">
								<i ng-class="icon.getWind()"></i>
								wind
							</div>
							<span class="col-xs-5">{{weather.wind.speed + ' ' + getSpeedUnit() + ' ' + getCardinalDirection() + '  '}}<span ng-class="icon.getCompass()" style="transform:rotate({{weather.wind.direction}}deg);" class="text-note"></span></span>
						</div>
						<div class="row">
							<div class="col-xs-7">
								<i ng-class="icon.getSunrise()"></i>
								sunrise
							</div>
							<span class="col-xs-5">{{weather.astronomy.sunrise;}}</span>
						</div>
						<div class="row">
							<div class="col-xs-7">
								<i ng-class="icon.getSunset()"></i>
								sunset
							</div>
							<span class="col-xs-5">{{weather.astronomy.sunset;}}</span>
						</div>
					</div>
				</div>
				<div id="w-forecast" class="row">
					<h4 class="col-xs-12 col-md-11 col-md-offset-1">Forecast</h4>
					<div class="w-day-forecast col-xs-12 col-md-1" ng-repeat="w in weather.forecast" ng-class="$index == 0 ? 'col-md-offset-1' : ''">
						<span class="day col-xs-4 col-md-12">{{$index == 0 ? "Today" : date.parse(w.date) | date:'EEE'}}</span>
						<div class="col-xs-4 col-md-12">
							<i class="w-forecast-icon" ng-class="icon.getConditionIcon(w.code)"></i>
							<div class="w-forecast-desc">{{w.text}}</div>
						</div>
						<div class="col-xs-4 col-md-12">
							<span class="t-high">{{w.high}}&deg;</span>
							<span class="t-low">{{w.low}}&deg;</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<a style="float:right;"href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/white_retina.png" width="134" height="29"/> </a>
			<p>&copy; {{currentYear + ' '}}<a href="https://github.com/rzheng001">Richard Zheng</a>.</p>
		</footer>
		<div class="loading" ng-show="isSearching"></div>
		<script src="js/icon.js"></script>
		<script src="js/weather-controller.js"></script>
	</body>
</html>